@page
@model GTAWebsite.Models.Manu.Manu

<h1>Manu Form</h1>

<form method="post">
    <div class="form-group">
        <label for="position">Position:</label>
        <select class="form-control" id="position" name="Position">
            @foreach (var value in Enum.GetValues(typeof(Models.Manu.Position)))
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="qualification">Qualification:</label>
        <select class="form-control" id="qualification" name="Qualification">
            @foreach (var value in Enum.GetValues(typeof(Models.Manu.Qualification)))
            { 
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="graderCourses">Grader Courses:</label>
        <select class="form-control" id="graderCourses" name="GraderCourses">
            @foreach (var value in Enum.GetValues(typeof(Models.Manu.GraderCourses)))
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="labCourses">Lab Courses:</label>
        <select class="form-control" id="labCourses" name="LabCourses">
            @foreach (var value in Enum.GetValues(typeof(Models.Manu.LabCourses)))
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
