@page
@model IndexModel
@{
    ViewData["Title"] = "UMKC: Apply for Graduate Teaching";
}

<style>
    .group-block {
        display:flex;
        background-color:#005293;
        margin:10px;
        padding:5px;
        align-items:center;
        justify-content:center;
        text-align:center;
        width:200px;
        height:200px;
        flex-direction:column
    }
</style>

@{
    SelectList posItems = new SelectList(Models.Menu.positions, "Any");
    <div>Position</div>
    <div>@Html.DropDownList("position", posItems)</div>
    <br>
    SelectList qualItems = new SelectList(Models.Menu.qualifications,"Any");
    <div>Qualification</div>
    <div>@Html.DropDownList("qualifications", qualItems)</div>
    <br>
    SelectList courseItems = new SelectList(Models.Menu.courses);
    <div>Course</div>
    <div>@Html.DropDownList("courses", courseItems)</div>
    <br>


}

@{
    List<GTAWebsite.Models.Course> coursesShown = new List<GTAWebsite.Models.Course>();
    foreach (GTAWebsite.Models.Course c in GTAWebsite.Pages.IndexModel.Course)
    {
        bool hasPos = false;
        bool hasQual = false;
        bool hasCourse = false;
        if (c.courseName == courseItems.SelectedValue || courseItems.SelectedValue == "Any")
        {
            hasCourse = true;
        }

        if (hasCourse)
        {
            coursesShown.Add(c);
        }
    }
}

@foreach (GTAWebsite.Models.Course c in coursesShown)
{
    <div class="group-block" style="float:left; color:white">
        <div>@Html.DisplayFor(model => c.courseName)</div>
        <div>@Html.DisplayFor(model => c.positionName)</div>
        <button type="submit" class="btn btn-primary" style="align-items:center">More</button>
    </div>
}

