
@page
@model IndexModel
@{
    ViewData["Title"] = "UMKC: Apply for Graduate Teaching";
}

<style>
    .group-block {
        display:flex;
        background-color:#005293;
        margin:10px;
        align-items:center;
        justify-content:center;
        text-align:center;
        width:200px;
        height:200px;
        flex-direction:column
    }
</style>

<form method="post">
    <div class="form-group">
        <label for="position">Position:</label>
        <select class="form-control" id="position" name="Position">
            @foreach (var value in Models.Manu.Manu.positions)
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="qualification">Qualification:</label>
        <select class="form-control" id="qualification" name="Qualification">
            @foreach (var value in Models.Manu.Manu.qualifications)
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="graderCourses">Grader Courses:</label>
        <select class="form-control" id="graderCourses" name="GraderCourses">
            @foreach (var value in Models.Manu.Manu.courses)
            {
                <option value="@value">@value</option>
            }
        </select>
    </div>
</form>

<button id="filter-button" type="button" class="btn btn-primary">Submit</button>

<script>
    var submitButton = document.getElementById("filter-button");
    let buttonClicked = true;
    submitButton.addEventListener("click", handleClick);
    function handleClick {
        if (buttonClicked) {
            var courses = JSON.parse("@Html.Raw(Json.Serialize(IndexModel.Course))");
            for (let i = 0; i < courses.length; i++) {
                <div class="group-block" style="float:left; color:white">
                    <div>courses[i].courseName</div>
                    <button type = "button" class="btn btn-primary" style="align-items:center">More</button>
                </div>
            }

 
        }
    }
</script>